[mysqld]

user=mysql
log_output = 'FILE'

#bind-address = 127.0.0.1

#all log
general_log = '1'
#general_log_file = '/var/log/mysql/general/general.log'
general_log_file = '/var/log/mysql/general.log'

#error log
log-error='/var/log/mysql/error.log'
#log-error='/var/log/mysql/error/error.log'

#too slow query log
slow_query_log = '1'
#slow_query_log_file = '/var/log/mysql/slow/slow.log' 
slow_query_log_file = '/var/log/mysql/slow.log' 
long_query_time = '2'
